export KUBEAPISERVER_URL=
export AZURE_DOMAIN=
export AZURE_SECRET_ID=
export AZURE_SECRET_VALUE=
export AZURE_SUBSCRIPTION_ID=
export AZURE_TENANT_ID=
export BASE_DOMAIN=
export DASHBOARD_CLIENTSECRET=
export DASHBOARD_SESSIONSECRET=
export ENV=
export KUBEAPISERVER_BASICAUTHPASSWORD=
export GARDENER_VERSION=

